{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
	<div class="container">
		<div id= "lab8">
			<button onclick="facebookLogin()">Login with Facebook</button>	
		</div>
	</div>
</section>
{% endblock %}