    {% extends "lab_4/layout/base.html" %}

    {% block content %}
	<body style="background-color: lightblue">
    <h1>Luthfi Ferdian</h1>
	
	<center><img class= "img-circle" src="/static/img/Luthfi.jpg" alt="Luthfi Ferdian" style="width:304px;height:228px;">
	</center>
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>six words about me</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

	</body>
    {% endblock %}
